@use 'variables/global' as vars;
@use "normalize";
@use "theme/darkTheme" as dark;
@use "theme/lightTheme" as light;

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
