.sidebar {
  height: calc(100vh - var(--header-height));
  position: relative;
  width: 300px;
  background: white;
  transition: width 0.3s;
}

.collapsed {
  width: 70px;
  background: white;
}

.switcher {
  position: absolute;
  bottom: 20px;
}

.collapsed_btn {
  position: absolute;
  right: 40px;
  bottom: 50%;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
}
